<%- include('../Partials/header') %>

  <main id="main" class="main">
    <div class="col-12">
      <div class="d-flex g-3 ">
        <div class="pagetitle card p-3 col-8 me-3">
          <div class="d-flex justify-content-center ">
            <div>
              <img src="assets/img/profile.jpg" alt="Profile" class="rounded-circle img-fluid " width="55" height="30">
            </div>
            <div class="w-100 ms-2">
              <form action="/dashboard" method="post" enctype="multipart/form-data">
                <textarea name="post" id="" cols="50" rows="3" class="form-control w-100 bg-transparent  mb-3   "
                  placeholder="What is happening ?"></textarea>
                <div class="d-flex justify-content-between align-items-center ">
                  <label class="btn text-primary fs-6  border-1  border-primary ">
                    <i class="bi bi-card-image "></i> image
                    <input type="file" class="d-none" name="file" />
                  </label>
                  <button class="btn btn-primary  rounded-5 px-4">Post</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="pagetitle card p-3 w-100  ">
          <h3 class="fw-bold ">Subscribe to Premium</h3>
          <p>Subscribe to unlock new features and if eligible, receive a share of ads revenue.</p>
          <button class="btn btn-dark  rounded-5 px-4 w-50 ">Subscribe</button>
        </div>
      </div>
    </div>
    <!-- End Page Title -->


    <section class="section">
      <div class="row">
        <% post.forEach((post)=>{ %>
          <div class="col-lg-6">
            <div class="card overflow-hidden ">
              <div class="card-body" style="height: 450px;">
                <% if (post) { %>
                  <div class="d-flex  align-items-center ">
                    <h5 class="card-title me-2 ">@<%= post.name %>
                    </h5><span> <i class="bi bi-patch-check-fill text-primary"></i></span>
                    <span class="ms-2">
                      <%= post.time %>
                    </span>
                  </div>
                  <% } %>
                    <p>
                      <%= post.post %>
                    </p>
                    <div class="rounded-3 overflow-hidden ">
                      <img src="<%= post.file %>" alt="" class="img-fluid  ">
                    </div>
              </div>
            </div>
          </div>
          <%})%>

      </div>
    </section>

  </main><!-- End #main -->




  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  </body>

  </html>